S3method(coef,rtsFit)
S3method(logLik,rtsFit)
S3method(print,rtsFit)
S3method(print,rtsFitSummary)
S3method(summary,rtsFit)
export(covariance.parameters)
export(create_points)
export(fixed.effects)
export(grid)
export(progress_bar)
export(random.effects)
import(Rcpp)
import(lubridate)
import(methods)
import(sf)
importFrom(R6,R6Class)
importFrom(RcppParallel,RcppParallelLibs)
importFrom(rstan,sampling)
importFrom(rstantools,rstan_config)
importFrom(stats,model.matrix)
importFrom(stats,sd)
importFrom(stats,weighted.mean)
importFrom(utils,capture.output)
importFrom(utils,stack)
useDynLib(rts2, .registration = TRUE)
